In [ ]:
income=int(input("Enter your income : "))
bill=float(input("Enter your bill :"))
if 0<= income <15000:
  print("Your discount is 10%")
  discounted_amount=bill*10/100
  print("your discount is:",discounted_amount)
  final=bill-discounted_amount
  print("you have to pay :",final)
elif 15000<= income <20000:
  print("Your discount is 20%")
  discounted_amount=bill*20/100
  print("your discount is:",discounted_amount)
  final=bill-discounted_amount
  print("you have to pay :",final)
elif 20000<= income <50000:
  print("Your discount is 30%")
  discounted_amount=bill*30/100
  print("your discount is:",discounted_amount)
  final=bill-discounted_amount
  print("you have to pay :",final)
elif 50000<= income <80000:
  print("Your discount is 40%")
  discounted_amount=bill*20/100
  print("your discount is:",discounted_amount)
  final=bill-discounted_amount
  print("you have to pay :",final)
elif income >=80000 :
  print("Your discount is 50%")
  discounted_amount=bill*50/100
  print("your discount is:",discounted_amount)
  final=bill-discounted_amount
  print("you have to pay :",final)
else :
  print("Invalid input")

Enter your income : 50000
Enter your bill :15000
Your discount is 40%
your discount is: 3000.0
you have to pay : 12000.0

In [ ]:
li=[[1,2,3],[5,8,9]]
print(li)

[[1, 2, 3], [5, 8, 9]]

In [ ]:
# prompt: how to change elements in list inside list

li[0][1] = 10
li

In [ ]:
li[1][2]=20
li

[[1, 2, 3], [5, 8, 20]]

In [ ]:
Cb=[1, 2, 3, 3, 2, 34, 54, 'Bun Maska', 'üçîüçÖ', True, 5.555, [6, 5, 'üçó']]

In [ ]:
Cb[8]='üçîüçü'
Cb

[1, 2, 3, 3, 2, 34, 54, 'Bun Maska', 'üçîüçü', True, 5.555, [6, 5, 'üçó']]

In [ ]:
Cb[-1][-1]='üòä'
Cb

[1, 2, 3, 3, 2, 34, 54, 'Bun Maska', 'üçîüçü', True, 5.555, [6, 5, 'üòä']]

In [ ]:
fruits=['mango','banana','apple','watermelon']
fruits

['mango', 'banana', 'apple', 'watermelon']

In [ ]:
fruits[3][:5]

'water'

In [ ]:
fruits.append('orange')
fruits

['mango', 'banana', 'apple', 'watermelon', 'orange']

In [ ]:
fruits.insert(2,'grapes')
fruits

['mango', 'banana', 'grapes', 'apple', 'watermelon', 'orange']

In [ ]:
items=['watermelon',
 'Apple',
 'üçå',
 'Banana',
 'Mango',
 'orange',
 'üçÖ',
 'üçÖ',
 'üçÖ',
 'üçã',
 'üçã']

In [ ]:
items

['watermelon',
 'Apple',
 'üçå',
 'Banana',
 'Mango',
 'orange',
 'üçÖ',
 'üçÖ',
 'üçÖ',
 'üçã',
 'üçã']

In [ ]:
items.insert(9,"üòä")
items

['watermelon',
 'Apple',
 'üçå',
 'Banana',
 'Mango',
 'orange',
 'üçÖ',
 'üçÖ',
 'üçÖ',
 'üòä',
 'üçã',
 'üçã']

In [ ]:
items.remove("Banana")

In [ ]:
items

['watermelon', 'Apple', 'üçå', 'Mango', 'orange', 'üçÖ', 'üçÖ', 'üçÖ', 'üòä', 'üçã', 'üçã']

In [ ]:
items.pop(2)

'üçå'

In [ ]:
items

['watermelon', 'Apple', 'Mango', 'orange', 'üçÖ', 'üçÖ', 'üçÖ', 'üòä', 'üçã', 'üçã']

In [ ]:
items.sort() #ascending

In [ ]:
items

['Apple', 'Mango', 'orange', 'watermelon', 'üçÖ', 'üçÖ', 'üçÖ', 'üçã', 'üçã', 'üòä']

In [ ]:
items.sort(reverse=True)  #descending sort
items

['üòä', 'üçã', 'üçã', 'üçÖ', 'üçÖ', 'üçÖ', 'watermelon', 'orange', 'Mango', 'Apple']

In [ ]:
#create a simple list
#try positive and negative index
# try append,pop,remove, insert,extend,clear
#reverse the list without reverse
#if all numbers ,find the sum
# write difference between append and extend
#write the difference between pop() and remove
#update a list

In [ ]:
a=[12,40,32,60,86,92]

In [ ]:
a[5]

92

In [ ]:
a[-2]

86

In [ ]:
a.append(100)
a

[12, 40, 32, 60, 86, 92, 100]

In [ ]:
a.pop(4)

86

In [ ]:
a.remove(12)

In [ ]:
a.insert(2,68)

In [ ]:
a

[40, 32, 68, 60, 92, 100]

In [ ]:
a.extend("78")

In [ ]:
a.clear()

In [ ]:
a

[]

In [ ]:
b=['apple','banana','orange','watermelon','tomato']
b

['apple', 'banana', 'orange', 'watermelon', 'tomato']

In [ ]:
b.sort(reverse=True)
b

['watermelon', 'tomato', 'orange', 'banana', 'apple']

In [ ]:
num=[12,32,45,6,7,89,90]

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [ ]:
num = [12, 32, 45, 6, 7, 89, 90]
total_sum = sum(num)
print(total_sum)

281

In [ ]:
#append and extend
#append:the append is use to insert the element in the list .the element is inserted at the last index of list.
#extend: the extend is use to insert the element in the list , it extend the given elements and insert it at last but by seperation for e.g "Amit" --> 'A','m','i','t'.

In [ ]:
#remove and pop
#remove : It is use to remove the element from the list , it has to define or describe the element . does not work with directly giving indexing.
#pop : the pop is use to remove or pop the element from a list by defining the index , if no index is provided it remove the last element from the list.

In [ ]:
import pandas as pd

In [ ]:
cars=pd.read_html("https://en.wikipedia.org/wiki/Car")

In [ ]:
cars

[                                                  Car  \
 0   The Toyota Corolla, which has been in producti...
 1                                      Classification
 2                                            Industry
 3                                         Application
 4                                         Fuel source
 5                                             Powered
 6                                      Self-propelled
 7                                              Wheels
 8                                               Axles
 9                                            Inventor
 10                                           Invented

                                                 Car.1
 0   The Toyota Corolla, which has been in producti...
 1                                             Vehicle
 2                                             Various
 3                                      Transportation
 4   PetrolDieselNatural gasHydrogenBiodieselBatter...
 5                                                 Yes
 6                                                 Yes
 7                                   3‚Äì6, most often 4
 8                                  2, less commonly 3
 9                                           Carl Benz
 10                               1886 (139¬†years ago)  ,
     0                                                  1
 0 NaN  This section may contain an excessive amount o...,
     0                                                  1
 0 NaN  This section needs expansion. You can help by ...,
                                                    0  \
 0  General: Automotive safety Car classification ...

                                                    1  \
 0  Effects: Car dependency Effects of the car on ...

                                                    2
 0  Mitigation: Car-free movement Carfree city Con...  ,
                         vteCar interior  \
 0  Part of a series of articles on cars
 1                           Instruments
 2                              Controls
 3                            Anti-theft
 4                         SafetySeating
 5                        Other elements
 6                           Convenience
 7             Category  Commons  Portal

                                    vteCar interior.1
 0               Part of a series of articles on cars
 1  Automotive navigation system Automotive night ...
 2  Bowden cable Brake Clutch Cruise control Elect...
 3  Alarm Automatic vehicle location Immobiliser P...
 4  Airbag Armrest Bench seat Bucket seat Child sa...
 5  Boot liner Center console Dashboard Glove comp...
 6  Audio Automobile auxiliary power outlet Cup ho...
 7                          Category  Commons  Portal  ,
                                      vteCar design  \
 0                                   Classification
 1                                          By size
 2                                           Custom
 3                                           Luxury
 4                                    Minivan / MPV
 5                                              SUV
 6                                           Sports
 7                                            Other
 8                                               EU
 9                                      Body styles
 10                            Specialized vehicles
 11                                      Propulsion
 12                                    Drive wheels
 13                                 Engine position
 14                         Layout (engine¬†/ drive)
 15      Engine configuration (internal combustion)
 16  Portal Category Template:EC car classification

                                       vteCar design.1
 0   By size Micro Kei Subcompact Supermini Family ...
 1   Micro Kei Subcompact Supermini Family Compact ...
 2   Baja Bug Hot rod Lead sled Lowrider Sandrail T...
 3                Compact executive Executive Personal
 4                                Compact Leisure Mini
 5              Compact Crossover (CUV) Mini Coupe SUV
 6   Grand tourer Hot hatch Muscle Pony Sport compa...
 7         Antique Classic Economy Ute Van Vintage car
 8   A-segment B-segment C-segment D-segment E-segm...
 9   2+2 Baquet Barchetta Berlinetta Brougham Cabri...
 10  All-terrain vehicle Amphibious Connected Drive...
 11  Alternative fuel Autogas Biodiesel Biofuel Bio...
 12  Front-wheel Rear-wheel Two-wheel Four-wheel Si...
 13                                     Front Mid Rear
 14  Front-front Front mid-front Rear-front Front-r...
 15  Boxer Flat Four-stroke H-block Reciprocating S...
 16     Portal Category Template:EC car classification  ,
                0                                                  1
 0        By size  Micro Kei Subcompact Supermini Family Compact ...
 1         Custom  Baja Bug Hot rod Lead sled Lowrider Sandrail T...
 2         Luxury               Compact executive Executive Personal
 3  Minivan / MPV                               Compact Leisure Mini
 4            SUV             Compact Crossover (CUV) Mini Coupe SUV
 5         Sports  Grand tourer Hot hatch Muscle Pony Sport compa...
 6          Other        Antique Classic Economy Ute Van Vintage car
 7             EU  A-segment B-segment C-segment D-segment E-segm...,
                     vteAutomotive design  \
 0   Part of a series of articles on cars
 1                                   Body
 2                              Framework
 3                           Compartments
 4                                  Doors
 5                                  Glass
 6                         Other elements
 7                               Geometry
 8                     Exterior equipment
 9                               Lighting
 10                        Other elements
 11                                 Legal
 12             Category  Commons  Portal

                                vteAutomotive design.1
 0                Part of a series of articles on cars
 1   Framework Backbone chassis Beltline Body-on-fr...
 2   Backbone chassis Beltline Body-on-frame Bumper...
 3                       Hood/bonnet Trunk/boot/dickie
 4   Butterfly Canopy Gull-wing Scissor Sliding Sui...
 5   Glass run channel Greenhouse Opera window Powe...
 6   Bumper sticker Curb feeler Front-end bra Hood ...
 7   Approach and departure angles Breakover angle ...
 8   Lighting Automotive light bulb types Daytime r...
 9   Automotive light bulb types Daytime running la...
 10  Horn Side-view mirror power Tow hitch Window d...
 11  Registration plate vanity plate Theft Vehicle ...
 12                          Category  Commons  Portal  ,
                 0                                                  1
 0       Framework  Backbone chassis Beltline Body-on-frame Bumper...
 1    Compartments                      Hood/bonnet Trunk/boot/dickie
 2           Doors  Butterfly Canopy Gull-wing Scissor Sliding Sui...
 3           Glass  Glass run channel Greenhouse Opera window Powe...
 4  Other elements  Bumper sticker Curb feeler Front-end bra Hood ...
 5        Geometry  Approach and departure angles Breakover angle ...,
                 0                                                  1
 0        Lighting  Automotive light bulb types Daytime running la...
 1  Other elements  Horn Side-view mirror power Tow hitch Window d...
 2           Legal  Registration plate vanity plate Theft Vehicle ...,
           vteInternal combustion engine  \
 0         Part of the Automobile series
 1   Engine block and  rotating assembly
 2         Valvetrain and  Cylinder head
 3                      Forced induction
 4                           Fuel system
 5                              Ignition
 6                     Engine management
 7                     Electrical system
 8                         Intake system
 9                        Exhaust system
 10                       Cooling system
 11                          Lubrication
 12                                Other
 13                      Portal Category

                       vteInternal combustion engine.1
 0                       Part of the Automobile series
 1   Balance shaft Block heater Bore Connecting rod...
 2   Flathead layout Overhead camshaft layout Overh...
 3   Blowoff valve Boost controller Intercooler Sup...
 4   Diesel engine Petrol engine Carburetor Fuel fi...
 5   Magneto Compression ignition Coil-on-plug Dist...
 6                           Engine control unit (ECU)
 7             Alternator Battery Dynamo Starter motor
 8   Airbox Air filter Idle air control actuator In...
 9   Catalytic converter Diesel particulate filter ...
 10  Air cooling Water cooling Electric fan Radiato...
 11            Oil Oil filter Oil pump Sump (wet, dry)
 12  Knocking / pinging Power band Redline Stratifi...
 13                                    Portal Category  ,
                    vtePowertrain  \
 0  Part of the Automobile series
 1              Automotive engine
 2                   Transmission
 3               Wheels and tires
 4                         Hybrid
 5               Portal  Category

                                      vtePowertrain.1
 0                      Part of the Automobile series
 1  Diesel engine Electric Fuel cell Hybrid (Plug-...
 2  Automatic transmission Chain drive Direct-driv...
 3  Wheel hub assembly Wheel Rim Alloy wheel Hubca...
 4  Electric motor Hybrid vehicle drivetrain Elect...
 5                                   Portal  Category  ,
        vteChassis control system  \
 0  Part of the Automobile series
 1                     Suspension
 2                       Steering
 3                         Brakes
 4       Roadwheels Tires (Tyres)
 5               Portal  Category

                          vteChassis control system.1
 0                      Part of the Automobile series
 1  Anti-roll bar (sway bar) Axle Axle track Beam ...
 2  Ackermann steering geometry Caster angle Kingp...
 3  Automatic braking Anti-lock braking system Act...
 4  Alloy wheel Custom wheel Drive wheel Hubcap Ou...
 5                                   Portal  Category  ,
     vteAutomotive industry                           vteAutomotive industry.1
 0        Car Motor vehicle                                  Car Motor vehicle
 1               By country  Africa Egypt Kenya Morocco Nigeria South Afric...
 2                   Africa  Egypt Kenya Morocco Nigeria South Africa List ...
 3                     Asia  Bangladesh China manufacturers list, manufactu...
 4                   Europe  Belarus Bulgaria Croatia Czech Republic manufa...
 5            North America  Canada manufacturers Mexico United States manu...
 6            South America       Argentina manufacturers Brazil manufacturers
 7                  Oceania                Australia manufacturers New Zealand
 8                     Data  Automobile sales by model Best-selling automob...
 9                  History  Automotive industry crisis of 2008‚Äì2010 Histor...
 10           Manufacturers  Automobile manufacturers marques by parent com...
 11           Organisations  Association for Standardisation of Automation ...
 12          Related topics  Auto and motor shows Automotive design Automot...
 13  Category  List  Portal                             Category  List  Portal,
                0                                                  1
 0         Africa  Egypt Kenya Morocco Nigeria South Africa List ...
 1           Asia  Bangladesh China manufacturers list, manufactu...
 2         Europe  Belarus Bulgaria Croatia Czech Republic manufa...
 3  North America  Canada manufacturers Mexico United States manu...
 4  South America       Argentina manufacturers Brazil manufacturers
 5        Oceania                Australia manufacturers New Zealand,
       vtePrivate transport                             vtePrivate transport.1
 0      Motorized vehicular  Car Motorboat Electric bicycle Electric skateb...
 1  Non-motorized vehicular  Bicycle/Cycling Pack animal Roller skates Scoo...
 2        Vehicles for hire  Car rental Auto rickshaw Boda-boda Cycle ricks...
 3                   Shared  Shared transport Carsharing Carpooling Car joc...
 4            Non vehicular  Ice skates Inline skates Running Stair Climbin...
 5             Alternatives  Public transport Personal public transport Mod...,
   Authority control databases  \
 0               International
 1                    National
 2                       Other

                        Authority control databases.1
 0                                               FAST
 1  GermanyUnited StatesFranceBnF dataJapanCzech R...
 2  Historical Dictionary of SwitzerlandNARAEncycl...  ]

In [ ]:
type(cars)

list

In [ ]:
cars=pd.DataFrame(cars[0])

In [ ]:
cars.info

<bound method DataFrame.info of                                                   Car  \
0   The Toyota Corolla, which has been in producti...
1                                      Classification
2                                            Industry
3                                         Application
4                                         Fuel source
5                                             Powered
6                                      Self-propelled
7                                              Wheels
8                                               Axles
9                                            Inventor
10                                           Invented

                                                Car.1
0   The Toyota Corolla, which has been in producti...
1                                             Vehicle
2                                             Various
3                                      Transportation
4   PetrolDieselNatural gasHydrogenBiodieselBatter...
5                                                 Yes
6                                                 Yes
7                                   3‚Äì6, most often 4
8                                  2, less commonly 3
9                                           Carl Benz
10                               1886 (139¬†years ago)  >

In [ ]:
cars.head()

,Car,Car.1
0,"The Toyota Corolla, which has been in producti...","The Toyota Corolla, which has been in producti..."
1,Classification,Vehicle
2,Industry,Various
3,Application,Transportation
4,Fuel source,PetrolDieselNatural gasHydrogenBiodieselBatter...

In [ ]:
cars.describe

<bound method NDFrame.describe of                                                   Car  \
0   The Toyota Corolla, which has been in producti...
1                                      Classification
2                                            Industry
3                                         Application
4                                         Fuel source
5                                             Powered
6                                      Self-propelled
7                                              Wheels
8                                               Axles
9                                            Inventor
10                                           Invented

                                                Car.1
0   The Toyota Corolla, which has been in producti...
1                                             Vehicle
2                                             Various
3                                      Transportation
4   PetrolDieselNatural gasHydrogenBiodieselBatter...
5                                                 Yes
6                                                 Yes
7                                   3‚Äì6, most often 4
8                                  2, less commonly 3
9                                           Carl Benz
10                               1886 (139¬†years ago)  >

In [ ]:
cars.tail()

               Car                 Car.1
6   Self-propelled                   Yes
7           Wheels     3‚Äì6, most often 4
8            Axles    2, less commonly 3
9         Inventor             Carl Benz
10        Invented  1886 (139¬†years ago)

In [ ]:
cars.head(10)

,Car,Car.1
0,"The Toyota Corolla, which has been in producti...","The Toyota Corolla, which has been in producti..."
1,Classification,Vehicle
2,Industry,Various
3,Application,Transportation
4,Fuel source,PetrolDieselNatural gasHydrogenBiodieselBatter...
5,Powered,Yes
6,Self-propelled,Yes
7,Wheels,"3‚Äì6, most often 4"
8,Axles,"2, less commonly 3"
9,Inventor,Carl Benz

In [ ]:
print(cars.isnull())

      Car  Car.1
0   False  False
1   False  False
2   False  False
3   False  False
4   False  False
5   False  False
6   False  False
7   False  False
8   False  False
9   False  False
10  False  False

In [ ]:
cars.isnull().sum()

Car      0
Car.1    0
dtype: int64

In [ ]:
cars.duplicated

<bound method DataFrame.duplicated of                                                   Car  \
0   The Toyota Corolla, which has been in producti...
1                                      Classification
2                                            Industry
3                                         Application
4                                         Fuel source
5                                             Powered
6                                      Self-propelled
7                                              Wheels
8                                               Axles
9                                            Inventor
10                                           Invented

                                                Car.1
0   The Toyota Corolla, which has been in producti...
1                                             Vehicle
2                                             Various
3                                      Transportation
4   PetrolDieselNatural gasHydrogenBiodieselBatter...
5                                                 Yes
6                                                 Yes
7                                   3‚Äì6, most often 4
8                                  2, less commonly 3
9                                           Carl Benz
10                               1886 (139¬†years ago)  >